* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card1 {
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    padding:70px;
    width: 500px;
    /* height:400px; */
    box-shadow: 5px 5px 10px #0000005c;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    line-height: 2rem;
    font-size: 1.2rem;
}